.header-top
  position: absolute
  top: 25px
  left: 0
  width: 100%
  height: 48px
  z-index: 1

.header-top__content
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  padding: 0 20px

.header-top__hielo
  color: #ffffff

.header-top__title
  font-size: 15px
  text-decoration: none
  color: rgba(255, 255, 255, 0.65)

  &:hover,
  &:focus
    .header-top__hielo
      color: rgba(255, 255, 255, 0.65)

.header-top__menu
  font-size: 16px
  text-transform: capitalize
  cursor: pointer
  color: #ffffff

.header-top__strip
  display: inline-block
  position: relative
  width: 13px
  height: 12px
  margin-right: 8px
  overflow: hidden

.header-top__strip span
  display: block
  position: absolute
  width: 100%
  height: 2px
  top: 5px
  left: 0
  background-color: #fff

  &::after,
  &::before
    content: ''
    position: absolute
    display: block
    left: 0
    width: 100%
    height: 2px
    background-color: #fff

.header-top__strip span
  &::after
    top: -5px

.header-top__strip span
  &::before
    bottom: -5px

.header-top__nav
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 280px
  background-color: #000000
  transform: translateX(280px)
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s
  padding: 3rem 2rem

  &.visible
    transform: translateX(0)
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2)
    visibility: visible

    &.header-top__strip span
        display: none

    &.header-top__strip &::before
        content: "\f00d"
        font-size: 20px

.header-top__item
  border-bottom: 1px solid rgba(#ffffff, 0.5)

.header__link
  font-size: 15px
  line-height: 3.5rem
  text-transform: uppercase
  text-decoration: none
  color: rgba(255, 255, 255, 0.65)

  &:hover,
  &:focus
    color: rgba(255, 255, 255, 1)
