.card
  +max-w($tablet)
    width: 100%

.card__content
  width: px-to-vw(520, $desktop_md)
  background-color: #ffffff

  +max-w($laptop_lg)
    width: px-to-vw(420, $laptop_sm)

  +max-w($tablet)
    width: 100%
    margin-bottom: 30px

.card__img-wrapper
  width: px-to-vw(520, $desktop_md)
  height: px-to-vw(260, $desktop_md)

  +max-w($laptop_lg)
    width: px-to-vw(420, $laptop_sm)
    height: px-to-vw(210, $laptop_sm)

  +max-w($tablet)
    width: 100%
    height: px-to-vw(300, $mobile_md)

.card__img
  width: 100%
  height: auto

.card__text-wrapper
  padding: px-to-vw(50, $desktop_md) px-to-vw(45, $desktop_md) px-to-vw(42, $desktop_md)

  +max-w($laptop_lg)
    padding: px-to-vw(35, $laptop_sm) px-to-vw(35, $laptop_sm) px-to-vw(30, $laptop_sm)

  +max-w($tablet)
    padding: px-to-vw(25, $mobile_md) px-to-vw(25, $mobile_md) px-to-vw(20, $mobile_md)

.card__subtitle
  position: relative
  padding-bottom: 10px
  margin-bottom: 10px
  color: #999999
  text-align: center
  text-transform: uppercase
  letter-spacing: 3px

  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 50%
    height: 1px
    margin: 0 auto
    background-color: rgba(#000000, 0.125)

  +max-w($laptop_lg)
    font-size: px-to-vw(16, $laptop_sm)

  +max-w($tablet)
    font-size: px-to-vw(14, $mobile_md)

  +max-w($mobile_sm)
    font-size: px-to-vw(14, $mobile_xs)

.card__title
  margin-bottom: px-to-vw(35, $desktop_md)
  font-size: px-to-vw(30, $desktop_md)
  text-align: center

  +max-w($laptop_lg)
    font-size: px-to-vw(26, $laptop_sm)
    margin-bottom: px-to-vw(25, $laptop_sm)

  +max-w($tablet)
    font-size: px-to-vw(20, $mobile_md)
    margin-bottom: px-to-vw(15, $mobile_md)

  +max-w($mobile_sm)
    font-size: px-to-vw(18, $mobile_xs)
    margin-bottom: px-to-vw(10, $mobile_xs)

.card__text
  margin-bottom: px-to-vw(35, $desktop_md)
  color: #a6a6a6

  +max-w($tablet)
    margin-bottom: px-to-vw(15, $mobile_md)
    font-size: px-to-vw(13, $mobile_md)

  +max-w($mobile_sm)
    margin-bottom: px-to-vw(10, $mobile_xs)
    font-size: px-to-vw(13, $mobile_xs)

.card__button
  display: block
  margin: 0 auto
  width: px-to-vw(144, $desktop_md)
  line-height: px-to-vw(40, $desktop_md)
  background-color: transparent
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15)
  color: #000
  text-align: center
  text-transform: uppercase
  cursor: pointer
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s

  &:hover,
  &:focus
    background-color: rgba(0, 0, 0, 0.075)

  +max-w($laptop_lg)
    width: px-to-vw(120, $laptop_sm)
    line-height: px-to-vw(30, $laptop_sm)
    font-size: px-to-vw(16, $laptop_sm)

  +max-w($tablet)
    width: 100%
    line-height: px-to-vw(40, $mobile_md)
    font-size: px-to-vw(14, $mobile_md)

  +max-w($mobile_sm)
    font-size: px-to-vw(14, $mobile_xs)
    line-height: px-to-vw(35, $mobile_xs)


