footer.footer
  .footer__content
    ul.footer__social
      li.footer__item
        a(href="#")
          include twitter.svg
      li.footer__item
        a(href="#")
          include facebook.svg
      li.footer__item
        a(href="#")
          include instagram.svg
      li.footer__item
        a(href="#")
          include envelope.svg
    .footer__text © Untitled. All rights reserved.
